@model IEnumerable<Garage2.Models.Vehicle>

@{
    ViewBag.Title = "Garage";
}

<h2>Alla Fordon</h2>

<table class="table">
    <tr>
        <th>
            <a href="?sort=length">
                @Html.DisplayNameFor(model => model.Type)
            </a>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegNr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParkingTime)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegNr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParkingTime)
            </td>
            <td>
                @Html.ActionLink("Detaljer", "Details", new { id = item.Id }) |
                @Html.ActionLink("Checka ut", "Delete", new { id = item.Id })


            </td>
        </tr>
    }

</table>

