@*@model IEnumerable<Garage2.Models.Vehicle>*@
@model Garage2.Models.Statistics

@{
    ViewBag.Title = "Statistics";
}

<h2>Statistik</h2>

@*<h2>Antal bilar @ViewBag.Antalbilar</h2>*@

<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NrOfCars)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NrOfBusses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NrOfBoats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NrOfAirplanes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NrOfMotorcycles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NrOfWheels)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceAllVehicles)
            </th>
            <th></th>
        </tr>

        <tr>
            <td>
                @Html.DisplayFor(model => model.NrOfCars)
            </td>
            <td>
                @Html.DisplayFor(model => model.NrOfBusses)
            </td>
            <td>
                @Html.DisplayFor(model => model.NrOfBoats)
            </td>
            <td>
                @Html.DisplayFor(model => model.NrOfAirplanes)
            </td>
            <td>
                @Html.DisplayFor(model => model.NrOfMotorcycles)
            </td>
            <td>
                @Html.DisplayFor(model => model.NrOfWheels)
            </td>
            <td>
                @Html.DisplayFor(model => model.PriceAllVehicles)
            </td>
        </tr>

    </table>